html,body {
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
}

.main-card-wide.mdl-card {
    width: 512px;
    }
.main-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('farfor-og-image.png') center / cover;
    }
.main-card-wide > .mdl-card__menu {
    color: #fff;
    }